@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --mainclr: #6c9894;
  --secondclr: #d0efe1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Source Sans 3", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.header {
  padding: 2rem 7%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondclr);
  z-index: 1000;
}
.header #logo {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}
.header .navbar a {
  color: black;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  position: relative;
}
.header .navbar a:hover {
  color: orange;
}
.header .navbar a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 2px;
  margin-top: 5px;
  width: 0;
}
.header .navbar a:hover:after {
  width: 100%;
  color: orange;
}
.header .navbar.active {
  top: 100%;
}
.header .icon div {
  margin-left: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}
.header .icon div:hover {
  color: orange;
}
.header .icon #menubar {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 100%;
  left: 100%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--mainclr);
}
.header .search-form .inner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800%;
}
.header .search-form .inner-form input {
  padding: 1.5rem;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
  color: white;
  margin-top: 1rem;
}
.header .search-form .inner-form input::-webkit-input-placeholder {
  color: white;
}
.header .search-form .inner-form input::-moz-placeholder {
  color: white;
}
.header .search-form .inner-form input:-ms-input-placeholder {
  color: white;
}
.header .search-form .inner-form input::-ms-input-placeholder {
  color: white;
}
.header .search-form .inner-form input::placeholder {
  color: white;
}
.header .search-form.active {
  left: 0;
}
.header .searchbar {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: -100%;
  right: 0;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mainclr);
}
.header .searchbar .inner-searchbar {
  width: 80%;
}
.header .searchbar .inner-searchbar input {
  border: none;
  padding: 1.5rem;
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid black;
  color: white;
}
.header .searchbar .inner-searchbar input::-webkit-input-placeholder {
  color: white;
}
.header .searchbar .inner-searchbar input::-moz-placeholder {
  color: white;
}
.header .searchbar .inner-searchbar input:-ms-input-placeholder {
  color: white;
}
.header .searchbar .inner-searchbar input::-ms-input-placeholder {
  color: white;
}
.header .searchbar .inner-searchbar input::placeholder {
  color: white;
}
.header .active {
  left: 0;
}

.back {
  padding: 10rem 7%;
  background-color: #fefefe;
}
.back .main-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 6%;
}
.back .main-home .inner-home {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
  text-align: center;
}
.back .main-home .inner-home img {
  width: 100%;
}
.back .main-home .inner-home .inner-content h1 {
  color: var(--mainclr);
  font-size: 80px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.back .main-home .inner-home .inner-content p {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 50px;
  padding: 0 6rem;
  line-height: 1.5;
}
.back .main-home .inner-home .inner-content a {
  padding: 1rem 4rem;
  background-color: var(--mainclr);
  color: white;
  font-size: 1.5rem;
  border-radius: 25px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.back .main-home .inner-home .inner-content a:hover {
  background-color: var(--secondclr);
  color: black;
}

.our-classes {
  padding: 3rem 7%;
  background-color: var(--mainclr);
}
.our-classes .main-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.our-classes .main-class .inner-class {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  text-align: center;
}
.our-classes .main-class .inner-class img {
  width: 90%;
}
.our-classes .main-class .inner-class .class-content h2 {
  color: white;
  font-size: 25px;
  margin: 20px 0;
}
.our-classes .main-class .inner-class .class-content p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.our-classes .main-class .inner-class .class-content a {
  display: inline-block;
  background-color: white;
  font-size: 1.5rem;
  color: black;
  border-radius: 25px;
  padding: 1rem 3rem;
  margin: 5px 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.our-classes .main-class .inner-class .class-content a:hover {
  background-color: var(--secondclr);
  color: black;
}

.our-instructor {
  padding: 5rem 7%;
  background-color: #fefefe;
}
.our-instructor .main-instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 70px;
  margin-top: 50px;
}
.our-instructor .main-instructor .inner-instructor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}
.our-instructor .main-instructor .inner-instructor .inner-content-instructor {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.our-instructor .main-instructor .inner-instructor .inner-content-instructor h2 {
  font-size: 60px;
  color: var(--mainclr);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 70px;
  margin-top: 25px;
}
.our-instructor .main-instructor .inner-instructor .inner-content-instructor p {
  margin: 30px 5px;
  font-size: 1.5rem;
  text-align: start;
  letter-spacing: 1px;
  line-height: 1.5;
}
.our-instructor .main-instructor .inner-instructor .inner-content-instructor a {
  display: block;
  padding: 1rem 4rem;
  background-color: var(--mainclr);
  color: white;
  font-size: 1.5rem;
  border-radius: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.our-instructor .main-instructor .inner-instructor .inner-content-instructor a:hover {
  color: black;
  background-color: var(--secondclr);
}
.our-instructor .main-instructor .inner-instructor img {
  width: 100%;
}
.our-instructor .secondary-instructor .inner-instructor .inner-content-instructor h2 {
  font-size: 65px;
  line-height: 1;
}

.our-gallery {
  position: relative;
  z-index: 1;
  padding: 4rem 7%;
  background-color: var(--mainclr);
}
.our-gallery .main-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.our-gallery .main-gallery .inner-gallery {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  position: relative;
  overflow: hidden;
}
.our-gallery .main-gallery .inner-gallery img {
  width: 100%;
  border-radius: 3%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.our-gallery .main-gallery .inner-gallery .zoom-image {
  display: block;
  height: auto;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  border-radius: 3%;
}
.our-gallery .main-gallery .inner-gallery .zoom-image:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 3%;
}

.feed {
  position: relative;
  padding: 6rem 7%;
}
.feed .container {
  position: relative;
  width: 60rem;
  height: 35rem;
  -webkit-box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
  margin: 50px auto;
}
.feed .container .reviewBox {
  width: 100%;
  height: 100%;
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feed .container .reviewBox .avatar {
  outline: 2px solid #cac7be;
  outline-offset: 0.5rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.feed .container .reviewBox .box {
  text-align: center;
}
.feed .container .reviewBox .box .name {
  font-size: 2.3rem;
  letter-spacing: 1px;
}
.feed .container .reviewBox .box .job {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #0081b4;
}
.feed .container .reviewBox .text {
  font-size: 1.1rem;
  color: #8f8b81;
  font-family: sans-serif;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 1rem;
}
.feed .container .btn-groups {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feed .container .btn-groups .btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
}
.feed .container .btn-groups .btn:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.contact-us {
  padding: 6rem 7%;
  background-color: var(--mainclr);
}
.contact-us .main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}
.contact-us .main-contact .inner-contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}
.contact-us .main-contact .inner-contact h6 {
  font-size: 30px;
  color: white;
  text-align: center;
}
.contact-us .main-contact .inner-contact img {
  position: relative;
  left: 100px;
  width: 75%;
}
.contact-us .main-contact .inner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-us .main-contact .inner-form label {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  color: white;
}
.contact-us .main-contact .inner-form input,
.contact-us .main-contact .inner-form textarea {
  padding: 1rem;
  margin: 1rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.contact-us .main-contact .inner-form input::-webkit-input-placeholder {
  color: white;
}
.contact-us .main-contact .inner-form input::-moz-placeholder {
  color: white;
}
.contact-us .main-contact .inner-form input:-ms-input-placeholder {
  color: white;
}
.contact-us .main-contact .inner-form input::-ms-input-placeholder {
  color: white;
}
.contact-us .main-contact .inner-form input::placeholder {
  color: white;
}
.contact-us .main-contact .inner-form textarea::-webkit-input-placeholder {
  color: white;
}
.contact-us .main-contact .inner-form textarea::-moz-placeholder {
  color: white;
}
.contact-us .main-contact .inner-form textarea:-ms-input-placeholder {
  color: white;
}
.contact-us .main-contact .inner-form textarea::-ms-input-placeholder {
  color: white;
}
.contact-us .main-contact .inner-form textarea::placeholder {
  color: white;
}
.contact-us .main-contact .inner-form .btn {
  padding: 1rem 4rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  display: inline-block;
  margin: 0 auto;
}
.contact-us .main-contact .inner-form .btn:hover {
  background-color: var(--secondclr);
}

.footer-distributed {
  background: #666;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 767px) {
  html {
    font-size: 55%;
  }
  html .header #logo {
    font-size: 4.5rem;
  }
  html .header .navbar {
    position: absolute;
    top: -2000%;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: var(--mainclr);
  }
  html .header .navbar a {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: 2rem;
  }
  html .header .icon #menubar {
    display: initial;
  }
  html .back .main-home {
    padding-top: 7%;
  }
  html .back .main-home .inner-home .inner-content h1 {
    font-size: 40px;
  }
  html .back .main-home .inner-home .inner-content p {
    padding: 0 1rem;
  }
  html .our-instructor h1 {
    margin: 35px 0;
  }
  html .our-instructor .main-instructor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px;
  }
  html .our-instructor .main-instructor .inner-instructor .inner-content-instructor {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  html .our-instructor .main-instructor .inner-instructor .inner-content-instructor h2 {
    margin: 0;
    font-size: 70px;
    margin-top: 25px;
  }
  html .our-instructor .main-instructor .inner-instructor .inner-content-instructor p {
    margin: 10px 0 38px 0;
    font-size: 1.75rem;
  }
  html .our-instructor .main-instructor .inner-instructor .inner-content-instructor a {
    text-decoration: none;
    padding: 1.5rem 5rem;
    font-size: 2rem;
  }
  html .our-instructor .secondary-instructor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */