@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
// font-family: 'Roboto', sans-serif;

:root{
	--mainclr:#6c9894;
	--secondclr: #d0efe1;
}
*{
	margin: 0;
	padding: 0;
	transition: all .2s;
	text-transform: capitalize;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.header{
	padding: 2rem 7%;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondclr);

	#logo{
		color: black;
		font-size: 2.5rem;
	}
	.navbar{
		a{
			color: black;
			margin-left: 1.5rem;
			font-size: 1.5rem;
			position: relative;
		}
		a:after{
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			background-color: black;
			transition: 0.5s;
			height: 2px;
			margin-top: 5px;
			width: 0;
		}
		a:hover:after{
			width: 100%;
		}
	}

	.icon {
		margin-left:1.5rem;
		font-size: 2rem;

		#menubar{
			display: none;
		}
	}
}







@media(max-width: 767px){
	html{
		font-size: 55%;

		.header{
			.icon{
				#menubar{
					display: initial;
				}
			}
		}
	}
	

}